<div align="center">
    <img src="{{site.baseurl}}/assets/images/Japan2024Map_SMALLER.png" alt="Japan Road Map" usemap="#japan-img-map" style="width:525px;height:600px;">
    <map name="japan-img-map" width=525px>
        <area shape="poly" alt="Tokyo" title="Tokyo" href="{{site.baseurl}}/tokyo24.html" coords="90,95,89,97,95,99,97,101,111,101,111,95,94,96"  target="_blank">
        <area shape="poly" alt="Hakone" title="Hakone" href="/hakone24" coords="86,101,86,95,76,95,76,99,82,99,84,101"  target="_blank">
        <area shape="poly" alt="Atami" title="Atami" href="/atami24" coords="85,102,86,102,87,103,97,104,97,106,88,107,87,106,85,105"  target="_blank">
        <area shape="poly" alt="Sendai" title="Sendai" href="/sendai24" coords="100,65,98,70,99,70,101,69,114,68,114,64"  target="_blank">
        <area shape="poly" alt="Tashirojima" title="Tashirojima" href="/tashirojima24" coords="102,71,103,75,118,75,117,72,105,72,103,70"  target="_blank">
        <area shape="poly" alt="Yamagata" title="Yamagata" href="/yamagata24" coords="95,69,96,70,94,72,96,72,96,74,85,75,85,72,91,72"  target="_blank">
        <area shape="poly" alt="Hachinohe" title="Hachinohe" href="/hachinohe24" coords="100,48,120,51" shape="rect">
        <area shape="poly" alt="Hakodate" title="Hakodate" href="/hakodate24" coords="94,35,116,39" shape="rect">
        <area shape="poly" alt="Sapporo" title="Sapporo" href="/sapporo24" coords="98,25,97,26,98,27,102,26,102,29,121,29,121,24"  target="_blank">
        <area shape="poly" alt="Noboribetsu" title="Noboribetsu" href="/noboribetsu24" coords="97,29,96,31,99,33,117,32,117,30,99,30"  target="_blank">
        <area shape="poly" alt="Otaru" title="Otaru" href="/otaru24" coords="95,25,97,25,96,22,98,22,98,19,90,20,90,22,94,22"  target="_blank">
        <area shape="poly" alt="Furano" title="Furano" href="/furano24" coords="106,21,120,24" shape="rect">
        <area shape="poly" alt="Asahikawa" title="Asahikawa" href="/asahikawa24" coords="99,14,100,17,105,16,106,17,107,18,107,16,116,15,116,12"  target="_blank">
        <area shape="poly" alt="Sounkyo" title="Sounkyo" href="/sounkyo24" coords="112,17,116,16,127,16,127,19,115,18,112,19"  target="_blank">
        <area shape="poly" alt="Osaka" title="Osaka" href="/osaka24" coords="57,106,56,110,53,112,55,115,71,115,69,110,59,110,59,105"  target="_blank">
        <area shape="poly" alt="Kobe" title="Kobe" href="/kobe24" coords="45,103,54,102,54,104,57,105,57,106,53,106,46,106"  target="_blank">
        <area shape="poly" alt="Kyoto" title="Kyoto" href="/kyoto24" coords="59,104,60,98,59,98,58,94,72,93,72,97,62,98,60,104"  target="_blank">
        <area shape="poly" alt="Nara" title="Nara" href="/nara24" coords="60,105,72,104,72,107,63,108,60,107"  target="_blank">
    </map>
</div>